/GNUmakefile
/build/
/build-*/
/release-*/
/.cache/
/.vscode/
.idea/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
/conformance-results/
/tests/ia64-conformance/manuals/*.pdf
/tests/ia64-conformance/manuals/*.txt
