config VIBTANIUM
    bool
    default y
    depends on IA64
    select ACPI
    select AHCI_ICH9
    select ATI_VGA
    select IDE_CMD646
    select ISA_BUS
    select LSI_SCSI_PCI
    select PCI
    select PCKBD
    select SERIAL_MM
    select USB_OHCI_PCI
    select USB_UHCI
